---
// src/components/atoms/NavLink.astro
export interface Props {
  href: string;
  text: string;
}
const { href, text } = Astro.props;
---
<a href={href} class="nav-link">{text}</a>

<style>
  .nav-link {
    font-size: 1rem;
    color: var(--color-text-secondary);
    text-decoration: none;
    transition: color 0.2s ease;
  }
  .nav-link:hover {
    color: var(--color-text-link-hover)
  }
</style>