---
// src/layouts/BaseLayout.astro
import Header from '@/components/organisms/Header.astro';
import Footer from '@/components/organisms/Footer.astro';
import '../styles/global.css'; // Import global styles

export interface Props {
  title: string;
}

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    
<style>
      body {
        font-family: var(--font-family-sans); /* Use a font variable */
        background-color: var(--color-background-body); /* Use a color variable */
        color: var(--color-text-primary);
        margin: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main {
        flex-grow: 1;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <!-- The <slot /> is where the unique content of each page will go -->
      <slot />
    </main>
    <Footer />
  </body>
</html>